.page-title{
font-size: 64px;
font-weight: 700;
line-height: 75px;
font-family: "Roboto Condensed", sans-serif;
    span{
        color: #009969;
    }
}

.intro_parahgraph{
    font-family: "Roboto Condensed", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 25px;
color: #40384F;

}

.page_subtitle{
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
    font-family: "Roboto Condensed", sans-serif;
        span{
            color: #009969;
        } 
}

.breadcrums_white{
    li {
        a{
            color: #fff;
            &:hover{
                color:#fff;
            }
        }
        svg{
            color: #fff;
        }
    }
}

@media(max-width:767px){
    .page-title{
        font-size: 30px;
        line-height: 40px;
    }
    .page_subtitle{
        font-size: 26px;
    }
    .how_to_apply_for_mineral_heading{
        font-size: 30px;
    }
}