
.intiatives_main{
    .intiatives_Inner{
        display: flex;
        margin: 30px 0;
        .intiatives_left{
            background: url("../assets/images/federal_govt_image.png");
            width: 30%;
            max-width: 324px;
            min-height: 720px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            background-size: cover;
           
           
            ul{
                li{
                    font-family: "Poppins", sans-serif;
                    text-align: center;
                    color:#fff;
                    margin-bottom: 20px;
                    font-size: 23.08px;
                    font-weight: 300;
                    &.active{
                        font-weight: 700;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }  
        .intiatives_right{
            flex:1;
            background-color: #F4FBF7;
            align-items: center;
            justify-content: center;
            .intiative_right_inner{
                padding: 50px;
                box-sizing: border-box;
            }
            .intiative_contents{
                display: none;
                &.active{
                    display: block;
                }
            }
        }
    }
     
}
.intiative_right_content_heading{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    color: #27AE60;
    marigin-bottom:50px;
   
}

.intiative_right_content_content{
    ul {
    background-color:#27AE60 ;
    list-style-type: disc;
    padding: 50px;
    box-sizing: border-box;
    li {
        color: #fff;
        gap: 0px;
        font-family: "Roboto Condensed", sans-serif;
        border-radius: 8px 0px 0px 0px;
        opacity: 0px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;

    }
    }
}