@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 84px;
}

.service-sport-container-cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(277px, 1fr)
  ); /* Minimum width 277px, expand to fill remaining space */
  gap: 20px; /* Horizontal and vertical gap */
  width: 70%;
  margin: 40px auto 30px auto;
}

.mineral-container-cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(277px, 1fr)
  ); /* Minimum width 277px, expand to fill remaining space */
  gap: 20px; /* Horizontal and vertical gap */
  width: 50%;
  margin: 40px auto 30px auto;
}

.ant-select-selector {
  border: 1px;
  border-color: #86efac !important;
}
